body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.accent-studio {
  color: #2e2f42;
}

.mobile-menu-open-button {
  fill: #2f2f37;
}

.section-title {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/section-hero/section-hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  min-height: 432px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 72px;
  padding-bottom: 72px;
}

.title {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  max-width: 150px;
  line-height: 1.11;
  text-transform: capitalize;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.button-section-hero {
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .section-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section-hero/secction-hero-mobile@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  /* MOBILE-MENU */

  .mobile-menu-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-wrapper.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    padding: 72px 24px 40px 16px;
    position: relative;
  }

  .mobile-menu-btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    fill: #2e2f42;
    line-height: 0;
  }

  .mobile-nav {
    margin-bottom: 168px;
  }

  .mobile-nav-menu {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .mobile-nav-menu-links {
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.12;
    text-transform: capitalize;
    text-decoration: none;
  }

  .mobile-nav-menu-links:active {
    color: #404bbf;
  }

  .mobile-address {
    margin-bottom: 48px;
  }
  .mobile-address-menu {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .mobile-address-links {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
    text-decoration: none;
    color: #434455;
  }

  .mobile-address-links:active {
    color: #4d5ae5;
  }

  .mobile-social-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .mobile-social-items {
    width: 40px;
    height: 40px;
  }

  .mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .mobile-social-icons {
    fill: #f4f4fd;
  }

  /* /MOBILE-MENU */

  .menu {
    display: none;
  }

  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px),
  screen and (min-resolution: 96dpi),
  screen and (min-resolution: 1dppx),
  screen and (min-device-pixel-ratio: 1) {
  .section-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section-hero/section-hero-tablet@1x.jpg);
  }
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .section-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section-hero/section-hero-talet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* HEADER */

  .box-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mobile-menu-open-button {
    display: none;
  }

  .nav-header {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .logo {
    margin-right: 120px;
  }

  .link-nav {
    display: block;
    color: #2e2f42;
    font-weight: 500;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-menu {
    display: flex;
    flex-direction: column;
  }

  .link-contacts {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-nav:active {
    color: #404bbf;
  }

  .link-contacts:active {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }
  .link-nav.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  /* /HEADER */

  /* SECTION-HERO */
  .section-title {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .title {
    min-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
/* /SECTION-HERO */

@media screen and (min-width: 1158px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1158px;
  }

  /* HEADER */

  .logo {
    margin-right: 76px;
  }

  .contacts-menu {
    flex-direction: row;
    gap: 40px;
  }

  .link-nav:hover,
  .link-nav:focus {
    color: #404bbf;
  }

  .link-contacts:hover,
  .link-contacts:focus {
    color: #404bbf;
  }

  /* /HEADER */

  /* SECTION-HERO */

  .section-title {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .title {
    margin-bottom: 48px;
  }

  /* /SECTION-HERO */
}
